body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

/*
table{
    display: flex;
    margin:0 auto;
    justify-content: center;
}
*/

td{
    width: 100px;
    height: 100px;
    font-size:2em;
    text-align: center;
    border-collapse: collapse;
    box-shadow: 0 0 5px rgb(253, 255, 114), 0 0 7px rgb(52, 157, 255), 0 0 9px rgb(253, 255, 114), 0 0 5px rgb(36, 255, 255);
}

/*
td:hover{
    background-color:rgb(21, 240, 174,0.5);
}
*/


#state{
    color: white;
    background:  blueviolet;
    padding: 1em;
    display: none;
}

@media only screen and (max-width: 600px) {
    body {
      background-color: lightblue;
    }

    td{
        width:100px;
        height:100px;
    }

}